.ProgressBar {
	margin: 10px;
}
 
.progress {
	width: 500px;   
	border: 1px solid black;
	position: relative;
	padding: 3px;
}

.percent {
	position: absolute;   
	left: 50%;
}

.bar {
	height: 20px;
	background-color: green;
}

.cancel {
	position: absolute;
	height: 25px;
	left: 100%;
}

.arrange-horizontally > * {
    display: inline-block;
    text-align: center;
}