<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>Welcome to JQuery demo</title>
        <script type=text/javascript src="{{ url_for('static', filename='common/jquery-3.3.1.js') }}"> </script>
        <script type=text/javascript src="{{ url_for('static', filename='common/jquery.form.js') }}"> </script>
        
    </head>
    <body>
        <div>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('file_upload_progressbar') }}">File Upload ProgressBar</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
